footer{
  background-color: black;
  color:white;
  text-align: center;
  margin: auto;
  font-size: small ;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  vertical-align: middle;
  min-height: 50px;
  padding: 20px 60px 20px ;
}
span{
  text-align: center;
  padding: 0 50px;
}
footer p{
  color: white;
}
